div.character-disabled img {
    filter: grayscale(100%);
}

div.character-disabled h2 {
    text-decoration: line-through;
}

div.super-done h2 {
    text-decoration: line-through;
}

div.super-disabled img {
    filter: grayscale(100%);
}

.checked {
    text-decoration: line-through;
}

.locked img {
    filter: grayscale(100%);
}

#personatges-template img {
    width: 300px;
    height: 300px;
}

#supermercats-template img {
    width: 150px;
    height:150px;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}   

div#marcador {
    position: fixed;
    bottom: 0;
    left:30px;
    width: 50%;
    height:50px;
    z-index:999;
}

#marcador_text {
    opacity:50%;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  opacity: 0.5;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}